/obj
/bin
/pkg
/build
/dist
/pen.egg-info
/app/build/development/obj/*
/app/build/development/tmp
/app/build/production/nginx/*
*.gch
.settings
/cmd/*.pyc
/cmd/cli/*.pyc
/cmd/cli/parser/*.pyc
/cmd/cli/parser/jinja2/*.pyc
/cmd/cli/content/*.pyc
/cmd/cli/template/*.pyc
/app/build/development/obj/*
/app/build/production/nginx